
.social{
  background-color: #1f1f1f;
  padding: 2.5rem;
  text-align: center;

  span{

    padding: 14px;
    display: inline-block;
  }

  svg{
    width: 40px;
    fill: white;
    circle{
      stroke: white;

    }
  }


}


.footer{
  background-color: black;
  padding: 68px 34px;
  text-align: center;

  p{
    color: rgba(255,255,255,.8);
    letter-spacing: 1px;
    font-size: .7rem;

  }
}
